.sidebarContainer{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /*margin: 5px;*/
    width: 140px;
}
.closeButton{
    align-self: flex-end;
    margin-bottom: 5px;
    cursor: pointer;
}
.sidebarContainer button{
    /*margin: 5px;*/
}