@media screen and (max-width: 768px){
    .filterMenuContainer{
        display: none;
    }

}
@media screen and (min-width: 769px){
    .filterMenuContainerMobile{
        display: none;
    }
}
.NavigationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #212121;
}

.navLink {
    width: 100%;
    margin: 5px 0;
}
.navLinkMobile{
    display: flex;
    margin: 5px;
}
.navLinkMobile button{
    margin: 5px;
}
.navLink button{
    width: 100%;
}
.filterMenu{
    display: flex;
}
.searchMenu{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
