@media screen and (max-width: 768px){
    .filterMenu{
        display: flex;
        flex-direction: column;
    }
}
.NavigationContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #212121;
}

.navLink {
    width: 100%;
    margin: 5px 0;
}
.navLink button{
    width: 100%;
}
.filterMenu{
    display: flex;
}
.searchMenu{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}
