.MenuContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    background-color: whitesmoke;
}
.selectContainer{
    display: flex;
    align-items: center;
}
.selectContainer span{
   margin-right: 10px;
}