@media screen and (max-width: 629px) {
    .productCardContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .productPhoto {
        max-width: 100%;
    }
    .titleAndPhoto{
        align-items: center;
        justify-content: center;
        width: 90%;
    }
    .info {
        width: 90%;
    }
}

@media screen and (min-width: 630px) {
    .productCardContainer {
        flex-direction: row;
        align-items: flex-start;
        width: 70%;
    }
    .productPhoto {
        max-width: 60%;
    }
    .titleAndPhoto{
        align-items: flex-start;
        justify-content: flex-start;
        width: 60%;
    }
    .info {
        width: 40%;
    }
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 0
}

.productCardContainer {
    display: flex;
}

.titleAndPhoto {
    display: flex;
    flex-direction: column;
}



